@import url('https://fonts.googleapis.com/css2?family=Bahiana&family=Rubik+Glitch&display=swap');

:root {
    --rød: red;
    --bla: #0095DD;
    --bakgrunnsfarge: black;
    --hvit: white;
    --skyggeoverskrift: rgb(214, 38, 38);
    --overskrift: #7e0e0e;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.video {
    width: 100%;
    height: 101vh;
}

body {
    background-color: var(--bakgrunnsfarge);
    font-family: "Rubik Glitch", sans-serif;
}

.video {
    width: 100%;
}

a {
    text-decoration: none;
}

.overskrift {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--overskrift);
    margin: 2px;
    text-shadow: 5px 5px 5px var(--skyggeoverskrift);
    /*text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;*/
    font-weight: 1000;
}

.os1 {
    font-size: 210px;
}

.os2 {
    font-size: 140px;
}
.os3 {
    font-size: 95px;
}

.boks {
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translate(-52%, -50%);
    text-decoration: none;
}


.boks>a>div {
    width: 270px;
    height: 60px;
    box-shadow: 0 0 10px 5px var(--overskrift);
    font-size: 28px;
    margin: 30px;
    text-align: center;
}

.boksindex > a > div {
    width: 350px;
    height: 80px;
    font-size: 35px;
    margin: 40px;
}

.boks>a>div>p {
    padding-top: 16px;
    color: rgb(239, 119, 119);
}

.boks>a>div:hover {
    box-shadow: 0 0 10px 5px red;
}


canvas {
    background-color: var(--bakgrunnsfarge);
    display: block;
    margin-top: 30px;
    position: absolute;
    top: 10%;
    left: 18%;
}

#containerGO,
#containerGC {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 21%;
    left: 28%;
    border: 4px solid rgb(186, 33, 33);
    background-color: black;
    color: #0095DD;
    font-size: 50px;
    width: 600px;
    height: 480px;
}


#containerHjelp {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 20%;
    right: 3%;
    border: 4px solid var(--rød);
    background-color: var(--bakgrunnsfarge);
    color: var(--bla);
    width: 200px;
    height: fit-content;

}

#containerHjelp>p {
    font-size: 20px;
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

#containerHjelp>h2 {
    font-size: 25px;
    margin: 20px;
    margin-bottom: 0px;

}

#knapp1,
#knapp2 {
    border: 3px solid var(--rød);
    padding: 20px;
    color: var(--bla);
    font-size: 28px;
}

#knapp1:hover,
#knapp2:hover {
    border: 3px solid var(--bla);
}

#poengboks {
    text-align: center;
}


#spørsmålstegn {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 80px;
}

#pil {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 80px;
    rotate: 180deg;
}

#pil:hover {
    width: 100px;
}

.hvordanspille {
    width: 80%;
    position: absolute;
    top: 40%;
    left: 10%;
}
.hvordanspille > p {
    color: var(--overskrift);
    font-size: 28px;
    text-align: center;
    padding: 10px;
}